/*---------------------
Fonts
---------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*---------------------
Colors
---------------------*/

 :root {
    --main-color: #02577A;
    --main-color-transparent: #02577A99;
    --main-color-hover: #012c3f;
    --main-color-white: #02577A;
    --color-1: #011e3f;
    --color-2: #0680a8;
    --color-3: #42b6ec;
    --social-footer-color-hover: #02577A;
    --black: #000000;
    --black-hover: #000000;
    --green-color: #10e037;
    --green-hover-color: #27b141;
    --blue-color: #1310e0;
    --blue-hover-color: #05038f;
    --white: #ffffff;
    --white-transparent: #ffffff99;
    --text-dark: #212529;
    --text-transparent: #21252950;
    --bg-dark: #212529;
    --main-to-dark-color: var(--bg-dark);
    --transparent: #00000000;
    --border-form: #00000000;
    --popup-background-color: #ffffffcc;
    --newsletter-color: #02577A;
    --newsletter-color-transparent: #001e2bab;
    --tell-background: #02577A;
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-300: #868686;
    --black-100: #f7f7f7;
    --black-000: #ffffff;
}


/*---------------------
Colors Theme Dark
---------------------*/

body.dark {
    background-color: var(--bg-dark);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-color: #1e94ca;
    --main-color-hover: #00547a;
    --main-color-transparent: #0075ac99;
    --white: #212529;
    --white-transparent: #21252999;
    --text-dark: #bbbbbb;
    --color-1: #094c99;
    --color-3: #02577A;
    --main-color-hover: #004b6b;
    --transparent: #00000000;
    --newsletter-color: #032e42;
    --newsletter-color-transparent: #00141bab;
    --popup-background-color: #00000099;
    --tell-background: #00374e;
    --shadow-black-100: var(--shadow-black-300);
    --black-alpha-100: rgba(255, 255, 255, 0.05);
    --black-900: #ffffff;
    --black-400: #bbbbbb;
    --black-300: #3f3f3f;
    --social-footer-color-hover: #42b6ec;
    --border-form: #1e94ca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    font-family: 'Lexenda', sans-serif;
}

.login-form {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 16px;
    background: var(--white);
    box-shadow: var(--shadow-black-100);
}

.login form .form-group {
    margin-bottom: 12px;
}

.logo-login {
    width: auto;
    height: 70px;
    margin: 25px;
}

.form-control {
    height: 52px;
    border: 1px solid var(--main-color-transparent);
    box-shadow: var(--shadow-black-100);
    padding: 0 24px;
    color: var(--black-900);
    background-color: var(--black-000);
    transition: all 0.5s ease;
}

.form-control:focus {
    border-color: var(--main-color);
    transition: all 0.5s ease;
}

.login-title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    line-height: 20px;
}

.btn-brand {
    border-color: 1px solid var(--white);
    background: var(--main-color);
    color: var(--white);
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Lexenda', sans-serif;
    width: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px 0px;
}

.btn-brand:hover {
    background-color: var(--white);
    border-color: 1px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.5s ease;
    animation: none;
}

.btn-brand-white {
    border: 1px solid var(--main-color);
    background-color: var(--white);
    color: var(--main-color);
    border-radius: 8px;
    font-weight: 500;
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    margin-top: 10px;
}

.btn-brand-white:hover {
    background: var(--main-color);
    border-color: 1px solid var(--white);
    color: var(--white);
    transition: all 0.5s ease;
    animation: none;
}

.notification-login {
    color: var(--main-color);
    text-align: center;
    padding: 20px;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
}


/*---testes--*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

.custom-field {
    position: relative;
    font-size: 14px;
    padding-top: 20px;
    margin-top: 5px;
}

.custom-field input {
    padding: 12px;
    width: 300px;
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid gray;
    outline-color: deepskyblue;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}

.custom-field input:valid+.placeholder,
.custom-field input:focus+.placeholder {
    top: 21px;
    font-size: 10px;
    color: #222;
    padding: 5px;
    background: white;
}

.message {
    font-size: 70px;
    font-family: 'Ubuntu', sans-serif;
    color: steelblue;
}

.success {
    font-size: 18px;
    margin-top: 15px;
    color: seagreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}